.mobile-group {
	list-style: none;
	width: 100%;
	position: fixed;
	background: #d1d1d1;
	top: 0;
	margin: 0;
	z-index: 99999;
	padding: 0.2em;
	li {
		margin: 0.1em;
		float: left;
		a {
			color: black;
		}
	}
		.search-form {
			width: 40%;
			margin: 0 0.5em 0 0;
			float: right;
			padding: 0;
			.pull-right{
				margin: 0;
				padding: 0;
			}
			form {
				margin: 0;
				padding: 0;
				input {
					margin: 0;
					width: 80%;
				}
			}
		}
		.dropdown {
			.btn {
				margin: 0;
			}
			.dropdown-menu {
				left: -3em;
				li {
					margin-top: 0;
					padding: 0.2em;
					float: none;
					text-align: center;
					border-top: 0.1em solid #d9d9d9;
				}
			}	
		}
}
.content-page {
	clear: both;
	margin-top: 2.5em;
	margin-bottom:3em;
	.flexslider {
		margin-bottom: 0;

	}
}
footer {
	width: 100%;
	border: 0.1em solid #d9d9d9;
	clear: both;
	position: fixed;
	background: #d1d1d1;
	bottom: 0;
	.mobile-phone {
		list-style: none;
		margin: 0;
		li {
			float: left;
			width: 24%;
			text-align: center;
			padding: 1em 0.1em;
			border-left: 0.1em solid #e8e8e8;
			color: black;
		}
	}

}
.mobile-cate {
	width: 90%;
	margin: auto;
	clear: both;
	ul {
		list-style: none;
		margin: 0;
		li {
			float: left;
			border: 0.1em solid #d9d9d9;
			padding: 0.5em;
			margin: 0.3em;
		}
	}
}
.footer-phone {
	width: 100%;
	clear:both;
	height: 3em;
}
.tag-products {
	margin-left: 1em;
	float: left;
}
.mobile-product {
	clear: both;
	list-style: none;
	width: 98%;
	.span3 {
		width: 45%;
		margin: 0.6em;
		.thumbnail {
			width: 100%;
			margin:0;
			img {
				width: 100%;
				margin: auto;
			}
		}
	}
	h6 {
		overflow: hidden;
		font-size: 0.8em;
		height: 1.5em;
	}
	.pagination {
		margin: 0;
	}
}
.bottom-paginate {
	clear:both;
	width: 100%;
	ul {
		li {
			a {
				padding: 0;
			}
		}
	}
}
.tag-link {
	margin-top: 0.5em;
	margin-left: 0;
	list-style: none;
	li {
		padding: 0.5em;
		border-top: 0.1em solid #d9d9d9;
		a {
			color: black;
		}
	}
}
.mobile-product{
	width: 95%;
	margin: auto;
	ul {
		list-style: none;
		margin: 0;
	}
}
.mobile-form {
	width: 95%;
	margin: 1em auto;
	.mobile-form1 {
		width: 90%;
		margin: auto;
		.action {
			.btn {
				margin-right: 2em;
			}
		}
	}
}
.product-show {
	margin-bottom: 0.2em;
	padding: 0.5em;
	border-bottom: 0.1em solid;
	float: left;
	width: 95%;
	.show-font {
		float: left;
		width: 65%;
	}
	.product-cart {
		float: right;
		margin: 0;
		.button_to {
			padding-top: 1em;
			input {
				border: 0.1em solid #d9d9d9;
				padding: 1em 0.5em;
				background: #ff8c00;
				font-weight: bold;
			}
		}
	}
}
.product-image {
	clear: both;
	width: 95%;
	margin: auto;
}
.show_more {
	clear: both;
	width: 96%;
	margin-left: 0.7em;
	text-align: center;
	padding: 0.8em 0;
	border-radius: 0.5em;
	border: 0.1em solid #d9d9d9;
	background: #f5f5dc;
	#show_more {
		color: black;
		font-size: 1.2em;
	}
}
