.mobile-group {
	list-style: none;
	width: 100%;
	position: fixed;
	background: #d1d1d1;
	top: 0;
	margin: 0;
	z-index: 99999;
	padding: 0.3em;
	li {
		margin: 0.1em;
		float: left;
	}
}
.content-page {
	clear: both;
	margin-top: 2.8em;
	margin-bottom:2.8em;
}
.mobile-phone {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: auto;
	background: #d1d1d1;
	padding: 0.5em;
	z-index: 9999;
	span {
		font-size: 1.2em;
	}
	.mobile-text {
		color: white;
		letter-spacing: 0.1em;
	}
	.phone {
		margin-right: 1em;
		float: right;
	}
}
.mobile-cate {
	width: 90%;
	margin: auto;
	clear: both;
	ul {
		list-style: none;
		margin: 0;
		li {
			float: left;
			border: 0.1em solid #d9d9d9;
			padding: 0.4em;
			margin: 0.3em;
		}
	}
}
.mobile-product {
	clear: both;
	list-style: none;
	width: 100%;
	.span3 {
		width: 45%;
		margin: 0.5em;
		.thumbnail {
			width: 100%;
			margin:0;
			img {
				width: 100%;
				margin: auto;
			}
		}
	}
	h6 {
		overflow: hidden;
		font-size: 0.6em;
	}
}
.bottom-paginate {
	clear:both;
	width: 100%;
	ul {
		li {
			a {
				padding: 0;
			}
		}
	}
}
