.mobile-group {
	list-style: none;
	width: 100%;
	position: fixed;
	background: #d1d1d1;
	top: 0;
	margin: 0;
	z-index: 99999;
	padding: 0.2em;
	li {
		margin: 0.1em;
		float: left;
	}
}
.content-page {
	clear: both;
	margin-top: 2.5em;
	margin-bottom:3em;
}
.mobile-phone {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #d1d1d1;
	padding: 0.5em;
	z-index: 9999;
	a{
		font-size: 1.2em;
	}
	.phone{
		float: right;
		margin-right: 1em;
	}
	}
.mobile-cate {
	width: 90%;
	margin: auto;
	clear: both;
	ul {
		list-style: none;
		margin: 0;
		li {
			float: left;
			border: 0.1em solid #d9d9d9;
			padding: 0.5em;
			margin: 0.3em;
		}
	}
}
.mobile-product {
	clear: both;
	list-style: none;
	width: 100%;
	.span3 {
		width: 45%;
		margin: 0.5em;
		.thumbnail {
			width: 100%;
			margin:0;
			img {
				width: 100%;
				margin: auto;
			}
		}
	}
	h6 {
		overflow: hidden;
		font-size: 0.8em;
		height: 1.5em;
	}
}
.bottom-paginate {
	clear:both;
	width: 100%;
	ul {
		li {
			a {
				padding: 0;
			}
		}
	}
}
.search-form {
	width: 60%;
	float: right;
}
.pull-right {
	padding: 0;
	margin: 0;
	input {
		width: 50%;
	}
	button {
		margin: 0;
	}
}
.tag-link {
	margin-top: 0.5em;
	margin-left: 0;
	list-style: none;
	li {
		padding: 1em;
		border: 0.1em solid #d9d9d9;
	}
}
.mobile-product{
	width: 95%;
	margin: auto;
	ul {
		list-style: none;
		margin: 0;
	}
}
.mobile-form {
	width: 95%;
	margin: 1em auto;
	.mobile-form1 {
		width: 90%;
		margin: auto;
		.action {
			.btn {
				margin-right: 2em;
			}
		}
	}
}
