<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @aftermarkets.each do |after| %>
			<tr>
				<td><%= link_to after.title, aftermarket_path(after.id)%></td>
			</tr>
					<% end %>
	</table>
	<%= will_paginate @aftermarkets %>
</div>
