//自定修改了bootstrap的样式
//2014年加了jquery切换的样式
//调式
//2014-03-10书写css阴影
.roundabout-holder{width:600px;height:325px;margin:0 auto;}

.roundabout-moveable-item{width:530px;height:325px;cursor:pointer;border:3px solid #ccc;border:3px solid rgba(0, 0, 0, 0.08);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}

.roundabout-moveable-item img{width:100%;}

.roundabout-in-focus{border:3px solid rgba(0, 0, 0, 0.2);}
//2014年修改
body{
	font-family: Helvetica,Arial,sans-serif,"宋体","新宋体";
	background: #d6dfd9;
	width: 100%;
}
.top-index,.logo-index, .footer, .footer-tese,.footer-link, .category-list,.footer-bottom {
	min-width: 1145px;
}
//视频播放的css
.video {
	z-index: 0;
}
.show-video {
	width: 600px;
	margin: auto auto 10px;
}
//视频展示
.video-index {
	width: 193px;
	float: left;
	border: 1px solid;
	margin-right: 15px;
	padding: 5px;
}
.video-index img {
	margin-bottom: 5px;
}
.video-index span {
	padding: 15px;
}
.video-paginate .pagination {
	clear: both;	
}
//视频结束
#gotop {
	display: none;
	width: 55px;
	height: 55px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	background: url(/assets/top.png) no-repeat -70px 0px;
}
.erwei {
	width: 90px;
	height: 90px;
	position: fixed;
	left: 10px;
	z-index: 99999;
}
.erwei span {
	color: rgb(228,103,19);
	font-size: 12px;
}
.no-null {
	color: red;
	font-size: 9px;
}
h6 {
	font-size: 12.5px;
}
.container {
	background: white;
	width: 1135px;
	clear: both;
}
.shadow-body .container{
	-moz-box-shadow:-8px 0px 10px #7a7f7b, 8px 2px 10px #7a7f7b; 
	-webkit-box-shadow:-8px 0px 10px #7a7f7b, 8px 2px 10px #7a7f7b;
	box-shadow:-8px 0px 10px #7a7f7b, 8px 2px 10px #7a7f7b;	
	padding: 0 5px;
	margin-top: 3px;
}
.header {
	height: 120px;
}
.navbar .container {
	width: 1135px;
}
#error_explanation{
	border: 1px solid;
	margin: 5px 5px 15px 5px;
}
.admindash {
	color: #08c;
}
#customer-index-img {
	//width: 785px;
	//margin-top:5px;
	//float:left;
	//border: 1px solid;
	//height: 351px;
}
#customer-index-img ul {
	list-style:none;
}
.get-image-position {
	width: 81%;
	height: 357px;
	padding: 0;
	float: right;
}
#myCarousel {
	height: 357px;
}
.carousel-inner,.item {
	height: 357px;
}
.bs-doc-image {
	//border: 1px solid;
	clear: both;
}
.nav .tab-tag {
	width: 206px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d7a51), to(#014715));
	background-image: -moz-linear-gradient(top, #4d7a51, #014715);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#014715', StartColorStr='#4d7a51');
	background-image: -ms-linear-gradient(top, #4d7a51, #014715);

}
.nav  .tab-tag span{
	padding-left: 35px;
	line-height: 28px;
	position: relative;
}
.nav .tab-tag span span {
	position: absolute;
	width: 15px;
	left: 90px;
	color: white;
}
.nav-tabs > li > a {
	padding-top: 3px;
	padding-bottom: 0;
}
.bs-doc-image .nav {
	margin-bottom: 0;
}
.bs-doc-image .nav-tabs > .active > a {
	height: 22px;
}
#myTab, #myTab li{
	position: relative;
	height: 27px;
}
.bs-doc-image #myTab {
	background-image: -moz-linear-gradient(top, #eaeaea, #b2b2b2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#b2b2b2));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');
	background-image: -ms-linear-gradient(top, #eaeaea, #b2b2b2);
	border: 1px solid #b2b2b2;

}
.bs-doc-image #myTab li a {
	color: #5d5d5d;
	font-size: 11.5px;
	border-right: 1px solid #999;
}
.bs-doc-image #myTab li.tab-tag a {
	color: white;
	font-size: 12.5px;
	border-style: none;
}
.bs-doc-image #myTab .tab-tag a:hover {
	color: white;
}
.bs-doc-image #myTab li.active a {
	color: #ee8301;
	text-decoration: underline;
	border-right: 1px solid #999;
	border-left: none;
}
.bs-doc-image #myTab li a:hover {
	color: #e60000;
}
#myTab .dropdown-menu li{
	background-image: none;
	background-color: none;

}
//2014年修改产品切换样式
.bs-doc-image .nav-tabs >.active>a {
	background: none;
}

// 列表导航样式表

/* submenu */
.submenu{
width: 206px;
height: 351px;
border-top: none;
float: left;
}
.submenu h2{
height:30px;
line-height:30px;
overflow:hidden;
padding: 5px 0 5px 0;
text-indent:40px;
font-size:20px;
color: #ee8301;
}
.submenulist ul{
padding:0 2px 2px;
margin: 0;
background: #4f7951;
list-style: none;
}
.submenulist h3, .submenu h2{
margin: 0;
line-height: 34px;
}
.submenulistli{
line-height: 0;
}
.submenulist li{
position:relative;
height:38px;
line-height:34px;
text-indent:15px;
vertical-align:middle;
border-bottom:1px solid #fff;
}
.submenulist li img {
	float: left;
	width: 30px;
	padding-left: 3px;
}
.submenulist li h3 a{
position:relative;
display:block;
height:36px;
width:142px;
color:#fff;
float: left;
padding-top: 3px;
text-indent: 20px;
font-size:14px;
font-weight:400;
//border-top:1px solid #D7ECFF;
//background:#F1F9FF;
z-index:1;
overflow:hidden;
}
.submenulist li h3 span {
	float: right;
	color: white;
	padding: 0;
	font-size: 14px;
	margin-right: 10px;

}
.submenulist li h3 a.on span {
	display: none;
}
.submenulist li h3 a.on{
background:#fff;
width:204px;
height:33px;
color:#f60;
padding-top: 3px;
font-weight:400;
border:2px solid #bfd3a9;
border-right:0 none;
text-indent:20px;
overflow:hidden;
}
.submenu .listbox{
position:absolute;
top:0;
left:204px;
width:792px;
background:#fff;
border:2px solid #bfd3a9;
font-size:14px;
}
.submenu .listbox .procate,.submenu .listbox .hotbrand{
float:left;
padding:10px 18px;
width:100%;
overflow:hidden;
line-height:14px;
text-indent:0;
z-index: 9999;
}
.submenu .listbox dt{
font-weight:700;
margin-bottom:5px;
}
.submenu .listbox img {
	width: 40px;
	margin-top: -5px;
	margin-bottom: 15px;
}
.submenu .listbox dd{
float:left;
width:24%;
height:auto;
line-height:27px;
margin: auto;
}
.submenu .listbox dd a{
display:inline;
background:none;
border:0 none;
color:#000;
padding-left: 5px;
}
.submenu .listbox dd a:hover{
color:#f60;
text-decoration:underline;
}
.submenu .listbox .hotbrand{
width:107px;
border:0 none;
background:#FFFDF3;
border-left:1px dashed #ECD988;
}

.procate ul {
list-style: none;
height: 27px;
padding: 0;
margin-top: -10px;
background: none;

}
.procate li {
float: left;
height: 15px;
text-indent: 5px;
padding: 0;
margin: 0;
}


// 放大镜

/* 放大镜功能的css */
/* preview style */
.preview{width:500px;}
/* smallImg */
/*.smallImg{position:relative;height:360px; padding:26px 5px; width:72px; overflow:hidden;float:left;}*/
.smallImg {
	position: relative;
	height: 72px;
	width: 500px;
	padding: 26px 5px;
	clear: both;
}
.smallImg li {
	float: left;
}
.bigImg {
	float: left;
}
.scrollbutton{
	width:45px; 
	height:10px; 
	overflow:hidden; 
	position:absolute; 
	left:17px; 
	cursor:pointer;
	background:url(images/zoom.gif) no-repeat;
}
.scrollbutton.smallImgUp{
	background-position:0 0; 
	top:8px;
}
.scrollbutton.smallImgDown{
	background-position:0 -11px; 
	bottom:8px;
}
.scrollbutton.smallImgUp.disabled{
	background-position:0 -22px;
}
.scrollbutton.smallImgDown.disabled{
	background-position:0 -33px;
}
#imageMenu {
	height:350px;
	overflow:hidden; 
	margin-top:4px;
}
#imageMenu li {
	height:82px; 
	width:72px; 
	overflow:hidden;
}
#imageMenu li img{
	padding:1px;
	border:1px solid #E8E8E8; 
	width:68px; 
	height:68px;
	cursor:pointer;
}
#imageMenu li#onlickImg img{
	border:1px solid #990000;
}
/* bigImg */
.bigImg{
	position:relative;
	float:right;
	width:400px;
	height:400px;
	padding:5px;
	border:1px solid #E4E4E4;
	overflow:hidden;
}
.bigImg #midimg{
	width:400px;
	height:400px;
}
.bigImg #winSelector{
	width:235px;
	height:210px;
}
#winSelector{
	position:absolute;
	cursor:crosshair;
	filter:alpha(opacity=15);
	-moz-opacity:0.15;
	opacity:0.15;
	background-color:#000;
	border:1px solid #fff;
}
/* bigView */
#bigView{
	position:absolute;
	border: 1px solid black;
	overflow: hidden;
	width:470px;
	height:420px;
	top:300px;
	left:540px;
	z-index:999;
	margin-top: 50px;
}
#bigView img{
	position:absolute;
	max-width:none;
	height:auto;
	vertical-align: none;
	border-style: none;
}

/********************
图片放大镜
*/
.data-gallery {
	width: 410px;
	float: left;
	position:relative;
}
.data-gallery img {
	max-width: none;
}
.data-pic {
	height: 410px;
	width: 410px;
	border:1px solid #999;
}
.data-pic img {
	width:410px;
	height: 410px;
}
.thumbsPanel{
	height: 70px;
	margin:5px 0 0 0px;
	overflow: hidden;
	border: 1px solid #999;
}
.thumbsPanel .prev,.thumbsPanel .next{
	float: left;
	width: 15px;
	height: 50px;
	margin-top: 10px;
}
.thumbsPanel .prev{
	background: url(../images/sprite.gif) no-repeat;
	background-position: -32px -317px;
}
.thumbsPanel .prev:hover{
	background-position: -32px -317px;
}

.thumbsPanel .prev.disabled,.thumbsPanel .prev.disabled:hover{
	background-position: -16px -317px;
}
.thumbsPanel .next{
	background: url(../images/sprite.gif) no-repeat;
	background-position: -48px -317px;
}
.thumbsPanel .next:hover{
	background-position: -48px -317px;
}
.thumbsPanel .next.disabled,.thumbsPanel .next.disabled:hover{
	background-position: -64px -317px;
}
.thumbsItems {
	height: 70px;
	white-space: nowrap;
	position: relative;
	float: left;
	width:330px;
	margin:0 1px;
	overflow: hidden;
	display: inline;

}
.thumbsList{
	position: absolute;
	top:0;
	left: 0;
	height: 70px;
	margin-left: 10px;
}
.thumbsList li {
	float: left;
	padding-top: 3px;
	height: 80px;
	width: 80px;
	margin:0;
	background: #FCFCFC;
	overflow: hidden;
	display: inline;
	position: relative;
}
.thumbsItems img {
	height:60px;
	width:60px;
	padding:1px;
	border:1px solid #ddd;
}

/* 商品图片放大镜样式 start */
.list img{ 
	border:1px solid #d5d5d5; 
	margin-right:5px;
}
.list img.on{
	border:1px solid #ff6600;
}
.izImage2{
	border:0;
	width:250px; 
	height:250px; 
}
.izViewer2{
	width:425px;
	height:412px;
	position:absolute;
	left:412px;
	top:0px;
	display:none; 
	//border:1px solid;
	z-index:1;
}

.handle2{
	display:none;
	opacity:0.3;
	filter:alpha(opacity=30);
	background:#8b7b33; 
	cursor:crosshair; 
	border:1px solid #d5d5d5; 
	position:absolute;
}

/* 商品图片放大镜样式 end */


/* 首页头部 */
.index-top {
}
.index-top ul {
	list-style: none;
}
.index-top ul li {
	float: left;
	margin-right: 8px;

}
.index-top ul .lange {
	float: right;
}
.index-top ul li select {
	width: 80px;
}

/*首页logo位置 */
.index-logo {
	clear: both;
}
.center-index {
	margin-left: 20px;
}
.center-index2 {
	float: right;
}
.ps-index img {
	margin-right: 10px;
}
.index-logo .center-index .ps-index img, .logo-font {
	float: left;
}
.logo-font span {
	margin-left: 20px;
}
.logo-font {
	margin-top: 10px;
}

/*页脚样式*/
.footer {
	background: #e8e8e8;
	margin-top: 10px;
}
.footer >.container {
	background: #e8e8e8;
}
.footer-center {
	width: 100%;
	position: relative;
}
.sixicon {
	position: absolute;
	left: 0;
	top: 0;
	width: 980px;
}
.list-nav {
	float: left;
	//width: 20%;
}
.footer-center .list-nav {
	width: 16.6%;
}
.footer-center .list-nav li a{
	color: black;
}
.footer-center
.list-nav h4 {
	font-size: 15px;
	font-family: "黑体";
	text-align: center;
}
.list-nav ul {
	list-style: none;
		//margin-left: 60px;
	text-align: left;
}
.footer-center .list-nav ul {
	margin-left: 50px;
border-top: 1px solid;
	margin-top: -8px;
	padding-top: 5px;
	width: 80px;

}
.list-nav ul li {
	font-size: 14px;
}
.footer-center .list-nav ul li {
	font-size: 12.5px;
	line-height: 150%;
}
//2014年1月6日修改
.list-nav .dropdown-menu {
	background-color: #bfd3a9;
	min-width: 108px;
}
.list-nav .dropdown ul{
	width: 108px;
}
.list-nav .dropdown-menu li {
	border-bottom: 1px solid white;
}
//2014年1月6日修改结束
/*底部链接导航栏*/
.footer-link {
	clear: both;
	padding: 5px 0;
	margin: 0;
	background: #e8e8e8;
}
.footer-link .container {
	background: none;
}
.footer-link ul {
	list-style: none;
	height: 18px;
	width: 50%;
	margin: 0;
	}
.footer-link ul li {
	float: left;
	margin-right: 10px;
}
.footer-link li a {
	padding: 0 8px 0 2px;
}
.tese {
	width: 810px;
	height: 33px;
}
.tese img {
	margin-top: 10px;
}
.footer-tese {
	background: white;
	height: 52px;
	margin: 0;
}

/*产品关键字*/
.category-list {
	clear: both;
	border-bottom: 1px solid #999;
}
.category-list span {
	margin-right: 3px;
	border-right: 1px solid #909090;
}
.category-list span a {
	padding:0 8px 0 3px;
}
.list-tag {
margin-bottom: 15px;
}
.footer-bottom {
	text-align: center;
	padding: 10px 0;
}
.category-list,.footer-bottom {
	background: white;
}
// 首页展示图的中的查看更多
.pending{
	position: absolute;
	right: 15px;
	margin-top: -30px;
}
//单个产品展示的描述
.product-info .tab-content {
	//width: 750px;
	margin: auto;
}
