//导航栏固定定位
.affix {
	position: fixed;
	top: 29px;
	width: 980px;
}
.affix-bottom {
	position: absolute;
}
//修改bootstrap的图片轮播的中的分页圆点的位置
.carousel-indicators {
    bottom: 15px;
    top: 300px;
    right: 400px;
}
.thumbnails .span3 {
	width: 230px;
}
.index-about .span4 {
	width: 312px;
}
	
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 6px;
}
//首页上面头部和logo颜色的部分

.top-index {
	background: #003f0d;
}
.logo-index {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48874e), to(#014715));
	background-image: -moz-linear-gradient(top, #628970, #00452a);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#628970');

}
.list-nav .navbar-inner {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#125237), to(#00452a));
	background-image: -moz-linear-gradient(top, #125237, #00452a);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#125237');
	border-style: none;
}
.nav-list .nav-bananer {
	background: #4f7951;
	margin-top: 3px;

}
//最上面的头部
.top-index {
	height: 29px;
}
.logo-index {
	height: 140px;
}
.top-index, .logo-index{
	padding: 0;
	margin: 0;
}
.index-top {
	margin: auto;
	padding: 0;
	width: 980px;
	margin-top: -8px;
	height: 29px;
}
.index-top li {
	padding: 0;
	margin-top: 3px;
}
.index-top .line-top {
	border-right: 1px solid #fff;
	margin-left: 6px;
	height: 5px;
	width: 1px;
}
.index-top li a {
	color: white;
}
.index-top .lange {
	height: 24px;
}
.index-top .lange select {
	height: 24px;
	margin: 0;
}
.index-top .lange select option {
	padding: 0;
}
.logo-index1 {
	width: 980px;
	height: 122px;
	padding: 0;
	margin: auto;
	position: relative;
}
.logo-index1 .position-logo  {
	padding: 0;
	position: absolute;
	top: 20px;
	left: 0px;
}
.logo-index1 .position-logo .logo-image {
	float: left;
}
.logo-image b {
	color: white;
	margin-left: 25px;
	line-height: 38px;
	font-size: 24px;
	letter-spacing: 3px;
}
.logo-index1 .line {
	border-right: 2px solid #fff;
	width: 1px;
	height: 60px;
	float: left;
	margin-left: 8px;
}
.phone .desc-logo {
	font-size: 18px;
	margin-left: 60px;
	line-height: 20px;
	color: white;
}
.logo-index1 .phone {
	float: left;
}
.logo-index1 .node-text {
	float: left;
	margin: 3px 0 0 180px;
}
/*.text-image, .node-text .text {
	float: left;
}
.node-text .text {
	width: 150px;
	margin: 2px 0 0 10px;
}
.node-text .text b {
	color: white;
	font-size: 16px;
	letter-spacing: 2px;
}
.text1 {
	clear: both;
	color: yellow;
}
*/
// 头部结束
//导航栏和列表导航开始的位置
.nav-list {
	z-index: 9999;
	padding: 0;
	margin: 0;
	//margin-top: -28px;
}
.nav-list .nav-bananer, .nav-list .list-nav {
	float: left;
}
.nav-bananer {
	width: 19%;
	height: 357px;
}

//产品导航栏2013年12月25日修改
 .nav-list .list-nav {
	 float: right;
	margin-top: -21px;
	width: 100%;
	height: 35px;
 }
 .nav-list .list-nav .navbar {
	 margin: 0;
	 height: 35px;
 }
 .nav-list .list-nav .navbar-inner {
	 padding-right: 0;
	 background-repeat: no-repeat;
	 min-height: 35px;
	 background-color: #00452a;
 }
 // 产品目录
 .product-menu {
	 width: 184px;
	 height: 37px;
	 background:#4f7951; 
	 margin-left: -20px;
	 padding: 0;
	 border: 1px solid;
	  }
	.product-menu span{
		line-height: 40px;
		padding:0 30px;
		font-size:20px;
		color: white;
	}	
 .nav-list .navbar .nav > li > a {
	 padding:10px 10px 0px 10px;
 }
 .nav-list .navbar .nav .index
 //.nav-list .navbar .nav .dropdown
 {
	 //margin-left: 78px;
 }
 .nav-list .open {
	 margin-top: 5px;
 }
 .nav >.open > a {
	 padding-top: -5px;
 }

//修改结束
//.affix .nav-bananer {
//	width: 22%;
//}
//.nav-list .list-nav {
//	height: 27px;
//	width: 80%;
//	margin-bottom: 5px;
//}
.affix .list-nav {
	width: 81%;
}
.affix .navbar-inner {
	height: 43px;
}
.affix .navbar .nav {
	margin-top: 10px;
}
//.navbar-inner{
//	height: 25px;
//	min-height: 0;
//	padding: 0;
//	background: none;

//}
//.navbar {
//	height: 27px;
//}
//.navbar .nav >li> a {
//	padding: 3px 15px 0;
//}
//.nav-list .list-nav ul {
//	margin-left: 0;

//}
//.nav-list .active {
//	height: 27px;
//}
.nav-list .nav > .active > a, .nav-list .nav > .active > a:hover {
	background: none;
	color: white;
	-webkit-box-shadow: none;
}
.nav-list .nav > li > a {
	text-shadow: none;
	color: white;
}
//.nav-list form, {
//	height: 27px;
//}
//.affix form {
//	margin-top: 12px;
//}
.nav-list .navbar-form input {
	margin: 0;
	padding: 0;
//	height: 24px;
width: 180px;
}
.nav-list .search-query {
	margin: 0;
	padding: 0;
}
.nav-list .navbar-form input[type="text"] {
	padding: 0;
	margin: 0;
}
.nav-list .navbar-form .btn {
	margin-top: 0;
	height: 22px;
	padding: 1px 12px;
	background: #ee8301;
	color: white;
}
.nav-list .navbar-form {
	position: relative;
	margin: 10px 10px 0 0;
}
.number-cart {
   position: absolute;
	top: -15px;
	right: -8px;
}	
.number-cart img {
	min-width: 30px;
	width: auto;
}
.number-cart b{
	position: absolute;
	top: 1px;
	left: 5px;
	padding: 0 3px;
	color: white;
}
//新闻介绍和关于我们联系我们
.index-about ul .span4 img {

}
.index-about ul .about-title {
	margin: 0;
	padding: 0;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#b2b2b2));
	background-image: -moz-linear-gradient(top, #eaeaea, #b2b2b2);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');

}
.index-about ul .about-title span {
	padding-left: 10px;
	font-size: 16px;
	}
//单个产品展示放大镜
.show-product {
	float: right;
	width: 80%;
	height: auto;
}
.show-product .product {
	text-indent: 10px;
}
.show-product .p-data {
	width: 380px;
	margin: 0;
}
//产品描述的样式
.product-description {
	margin: 0;
	height: 459px;
	width: 380px;
	float: right;
}
.product-description .product-title {
	height: 27px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#628970), to(#00452a));
}
.product-description .product-title span {
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding-left: 10px;
}
.product-description .product-text {
	margin-top: 10px;
}
.product-description .product-text span {
	line-height: 170%;
	letter-spacing: 1px;
	font-size: 14px;
}
.product-description .product-item {
	margin-top: 10px;
	width: 100%;

}
.product-description .product-item img{
	float: left;
	margin-right: 20px;
}
.product-description .product-item img:hover {
    border: 2px solid red;
}
.product-item ul {
    list-style: none;
}
//点击递交订单的下拉选项
.product-item {
    position: relative;
}
.drop-list-toggle{
	z-index: 222;
    display: none;
    position: absolute;
    left: 35%;
    top: 60px;
    width: 220px;
    background: #ffffff;
}
.drop-list-toggle li {
    text-align: left;
	margin-left: 30px;
	line-height: 28px;
}
.drop-list-toggle .btn {
	margin: 5px 0 0 30px;
}
.drop-list-toggle form {
	padding: 5px;
	border: 1px solid;
}
.drop-list-toggle span {
	margin: 2px 0 0 5px;
}
//产品介绍
.product-info {
	clear: both;
}
.product-info .info-title {
	height: 27px;
	width: 786px;
   	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#628970), to(#00452a));
}
.product-info .info-title #myTab, .product-info .info-title #myTab li {
	background-image: none;
}
//产品展示的index界面css
.product-index {
	float: right;
	width: 80%;
	margin-left: 5px;
}
.product-index .span3 .thumbnail{
	height: 320px;
}
//.form表单中图片的大小
.resize-image .fields {
	width: 120px;
	float: left;
	margin-bottom: 10px;
}
.resize-image .image-position, .resize-image p {
	clear: both;
}
.image-position {
	height: 55px;
	width: auto;
}
.resize-image img {
	float: left;
	margin-right: 10px;
}
//表单中的位置
.form-form {
	width: 80%;
	float: left;
	margin-left: 5px;
}
.select-image span {
	margin-right: 8px;
}
.select-image span b {
	padding: 20px;
}
.position-form {
	width: 300px;
	float: left;
	border: 1px solid #aadc6e;
	margin: 10px;
	padding: 10px;
}
.form-form .action {
	margin-top: 20px;
}
.form-form .action input {
	margin-right: 20px;
}
.product-cart {
	margin-top: 5px;
	width: 81%;
	float: left;
}
//flash-notice 提示警告页面
.flash-notice {
	position: absolute;
	width: auto;
	z-index: 999999;
}
//登陆界面
.sign-in {
	width: 300px;
}
.sign-interface h2 {
	font-size: 18px;
	margin:0 0 30px 0;
	background:#989898;
	text-align: center;
}
.sign-input, .sign-input1 {
	clear: both;
	margin-top: 10px;
}
.sign-input label,
.sign-input1 label,
{
	float: left;
	margin-left: 10px;
}
.sign-input input, .sign-input1 input {
	float: right;
	margin-right: 20px;
}
.sign-interface {
	width: 300px;
	border: 1px solid #989898;
	margin:  20px;
	float: right;
}
.sign-input1 {
	float: right;
	margin-right: 40px;
}
.sign-in .button-btn {
	clear: both;
	margin-left: 120px;
}
//购物车首页下拉菜单
.cart_items-drop {
	z-index: 99999;
	right: 0;
	position: absolute;
	background: white;
	border: 1px solid;
	display: none;	
}
.cart_items-drop .table {
	margin-bottom: 0;
}
.cart_items-drop td {
	padding: 10px;
}
.cart_items-drop .cart_link {
	float: right;
	margin: 0 12px 5px 0;
}
.cart_items-drop2 {
	display: none;
}
//购物车中可变编辑的数字的css代码
.product-cart .table input {
  width: 40px;
}
.product-cart .btn {
	float: right;
	margin-right: 40px;
}
.product-cart .btn-mini {
	float: none;
	margin-top: -10px;
	padding: 0;
}

//单个产品下拉菜单中css

// 订单页面的表单
.order-form {
	margin:15px auto;
	height: auto;
	width: 600px;
}
.order-form1, .order-form .field {
   clear: both;
   }   
 .order-form1 input{
	 float: right;
	 margin-right: 160px;
 }
 .order-form1 .field label {
	 margin-right: 10px;
 }
.order-form1 .field label {
	float: left;
	margin-left: 140px;
}
.ordernumber {
	margin-top: 10px;
}
.ordernumber label {
	float: left;
	margin: 3px 15px 0 120px;
}
.content-text {
	margin-left: 140px;
}
.content-text textarea {
	min-width: 380px;
}
.number-order {
	border: 1px solid;
}
.number-order input {
	width: 40px;
}
.number-order tr {
	max-height: 30px;
}
.number-order td {
	padding: 2px 0 0 3px;
}
.number-order .fields {
	height: 30px;
}
.order-form .action {
	float: right;
	margin-right: 70px;
}
.order-form .action a {
	margin-left: 30px;
}
.order-form .field-address {
	}
.order-form .field-address select {
	width: 120px;
}
 //警告栏弹出栏
 .alert {
	 margin: 0;
 }
 .alert p {
	 text-align: center;
	 margin: 0;
	 padding: 0;
	 font-size: 16px;
 }
 //分类中的css样式
 
