//2013年11月起始
//这个名字叫测试。，但不测试的，起初是调式用的，
//后来调式的多了，就成成品了，不要被名字骗了
//这个css文件兼容IE7-IE9.,渐变色不支持IE10,。
//等有时间在添加IE10的渐变色代码
//这个要等到老板的电脑能装ie10才行，目前XP

//
.nav-list .affix {
	position: fixed;
	top: 15px;
	z-index: 999999;
}
.affix .navbar-inner{
	//margin: 0;
}
#myaffix {
	display: none;
}
.affix #myaffix {
	position: absolute;
	display: none;
	left: -20px;
	top: 35px;
}
#myaffix .nav-bananer {
	background: none;
	height: 275px;
}
#myaffix .submenu {
	height: 275px;
}
.affix .navbar-form {
	margin: 4px 0 0 0;
}
.affix .number-cart {
	top: -5px;
}
.affix .product-menu:hover > #myaffix {
	display: block;
}
.position-none {
	clear: both;
	width: 100%;
	height: 10px;
}
//修改bootstrap的图片轮播的中的分页圆点的位置
.carousel-indicators {
    bottom: 15px;
    top: 340px;
    right: 400px;
}
.index-about .span4 {
	width: 350px;
}
.index-about .thumbnails > li {
	margin-left: 30px;
}
	
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 6px;
}
//首页上面头部和logo颜色的部分

.top-index {
	background: #b1c4b6;
}
.logo-index {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#c2ceaf));
	background-image: -moz-linear-gradient(top, #fff, #c2ceaf);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#c2ceaf', StartColorStr=white);
	background-image: -ms-linear-gradient(top, #fff, #c2ceaf);
}
.list-nav .navbar-inner {
	//background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#145824), to(#014715));
	//background-image: -moz-linear-gradient(top, #145824, #014715);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#004714', StartColorStr='#004714');
	border-style: none;
	background: #004714;
}
.nav-list .nav-bananer {
	background: #4f7951;

}
//最上面的头部
.top-index {
	height: 29px;
}
.logo-index {
	height: 140px;
}
.top-index, .logo-index{
	padding: 0;
	margin: 0;
}
.index-top {
	margin: auto;
	padding: 0;
	width: 1135px;
	margin-top: -8px;
	height: 29px;
}
.index-top li {
	padding: 0;
	margin-top: 5px;
}
.index-top li a {
	color: #004714;
	padding-right: 8px;
	font-size: 12.5px;
	//border-right: 1px solid #fff;
}
.index-top .btn-danger {
	color: white;
}
.index-top li span {
	color: #004714;
	height: 1em;
}
.lange .lastitem {
	border-right: none;
	margin-left: 5px;
}
li.font-border a {
	border: none;
}
.index-top .lange {
	height: 24px;
}
.logo-index1 {
	width: 1135px;
	height: 122px;
	padding: 0;
	margin: auto;
	position: relative;
}
.logo-index1 .position-logo  {
	padding: 0;
	//position: absolute;
	top: 20px;
	left: 0px;
	//margin-top: 30px;
}
.logo-image, .phone, .node-text {
	margin-top: 20px;
}
.logo-image {
	float: left;
}
.logo-index1 .phone {
	float: left;
	margin-left: 8px;
	//width: 331px;
	//height: 66px;
}
.node-text{
	float: right;

}
.node1-text {
	height: 16px;
	width: 272px;
	margin-left: -10px;
}
// 头部结束
//导航栏和列表导航开始的位置
.nav-list {
	z-index: 9999;
	padding: 0;
	margin: 0;
	//margin-top: -28px;
}
.nav-list .nav-bananer, .nav-list .list-nav {
	float: left;
}
.nav-bananer {
	//width: 19%;
	height: 357px;
}
.bananer-button {
	position: absolute;
	left: 12px;
	top: 4px;
}
//产品导航栏2013年12月25日修改
 .nav-list .list-nav {
	 float: right;
	//margin-top: -17px;
	width: 1135px;
	height: 32px;
 }
 .nav-list .list-nav .navbar {
	 margin: 0;
	 height: 30px;
 }
 .nav-list .list-nav .navbar-inner {
	 padding-right: 0;
	 background-repeat: no-repeat;
	 min-height: 32px;
	 background-color: #004714;
	 font-family: "Microsoft YaHei",Helvetica, Arial,sans-serif
 }	 // 产品目录
 .product-menu {
	 width: 206px;
	 height: 35px;
	 //margin-top: 3px;
	 background:#fda100; 
	 margin-left: -20px;
	 padding: 0;
	 //border: 1px solid none;
	  }
	.product-menu span{
		line-height: 35px;
		padding:0 0 0 55px;
		font-size:15px;
		font-weight: bold;
		color: black;
	}	
	.product-menu span span {
		//float: right;
		padding-left: 40px;
		font-weight: normal;
	}
 .nav-list .navbar .nav > li > a {
	 padding:8px 10px 0px 10px;
 }
 .nav-list .navbar .nav .index
 //.nav-list .navbar .nav .dropdown
 {
	 //margin-left: 78px;
 }
  .nav-list .navbar .nav li.dropdown.open>.dropdown-toggle {
	 padding-top: 7px;
	 margin-top: 5px;
	 background: none;
	 height: 32px;
	 color: white;
	 border-style: none;
 }
 
//2014年1月10日修改
.dropdown:hover >.dropdown-menu {
	display: block;
}
.dropdown-menu {
	margin: 0;
}

//修改结束
//.affix .nav-bananer {
//	width: 22%;
//}
//.nav-list .list-nav {
//	height: 27px;
//	width: 80%;
//	margin-bottom: 5px;
//}
//.navbar-inner{
//	height: 25px;
//	min-height: 0;
//	padding: 0;
//	background: none;

//}
//.navbar {
//	height: 27px;
//}
//.navbar .nav >li> a {
//	padding: 3px 15px 0;
//}
//.nav-list .list-nav ul {
//	margin-left: 0;

//}
//.nav-list .active {
//	height: 27px;
//}
.nav-list2 {
	background: #004714;
	height: 35px;
	margin-top: -17px;
	width: 100%;
}
.nav-list2 .container {
	background: none;
}
.nav-list .nav > .active > a, .nav-list .nav > .active > a:hover {
	background: none;
	color: white;
	-webkit-box-shadow: none;
}
.nav-list .nav > li > a {
	text-shadow: none;
	color: white;
}
.nav-list .navbar .nav > li>a:focus, .nav-list .navbar .nav>li>a:hover {
	color: yellow;
	text-decoration: underline;
	background: none;
	border-style: none;
}
//.nav-list form, {
//	height: 27px;
//}
//.affix form {
//	margin-top: 12px;
//}
.nav-list .navbar-form input {
	margin: 0;
	padding: 0;
	height: 25.5px;
	width: 280px;
	border-radius: 0px;
}
.nav-list .search-query {
	margin: 0;
	padding: 0;
}
.nav-list .navbar-form input[type="text"] {
	padding: 0;
	margin-top: 2px;
}
.nav-list .navbar-form .btn {
	margin: 2px 0 0 -5px;
	border-style: none;
	//padding: 1px 12px;
	background: #fda100;
	font-size: 14px;
	color: black;
	text-shadow: none;
	border-radius: 0;
	//font-family: "经典黑体简", "微软雅黑", "黑体"
}
.nav-list .navbar-form {
	position: relative;
	margin: 2px 0 0 0;
}
.number-cart {
   position: absolute;
	top: -15px;
	right: 37px;

}	
.number-cart img {
	min-width: 30px;
	width: auto;
	}
.number-cart b{
	position: absolute;
	top: 1px;
	left: 8px;
	padding: 0 3px;
	color: white;
}
//新闻介绍和关于我们联系我们
.index-about ul .span4 img {

}
.index-about ul .about-title {
	margin: 0;
	padding: 0;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#b2b2b2));
	background-image: -moz-linear-gradient(top, #eaeaea, #b2b2b2);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');
	background-image: -ms-linear-gradient(top, #eaeaea, #b2b2b2);

}
.index-about ul .about-title span {
	padding-left: 10px;
	font-size: 14px;
	}
	.about-zixun .table{
		margin-bottom: 0;
	}
	.about-zixun .pagination {
		margin: 0;
	}
	.about-zixun .table td {
		padding: 4px;
	}
	.about-info {
	//	height: 192px;
	}
	.about-info img {
		float: left;
		margin: 8px 5px 0 0;
	}
	.about-info span {
		padding: 2px;
	}
	

//单个产品展示放大镜
.show-product {
	float: left;
	width: 918px;
	margin-left: 5px;
	height: auto;
}
.product {
	margin-bottom: 15px;
}
.product-link {
	float: right;
	margin: -25px 20px 0 0;
	 
}
.show-product .product {
	text-indent: 10px;
	margin-top: 10px;
}
.show-product .p-data {
	width: 410px;
	margin: 0px 5px 0 10px;
}
//产品描述的样式
.product-description {
	margin: 0;
	height: 459px;
	width: 480px;
	float: right;
}
.product-description .product-title {
	height: 27px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#628970), to(#00452a));
	background-image: -moz-linear-gradient(top, #628970, #00452a);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#628970');
	background-image: -ms-linear-gradient(top, #628970, #00452a);
}
.product-description .product-title span {
	color: white;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	padding-left: 10px;
}
.product-description .product-text {
	margin-top: 10px;
	height: 355px;
	font-size: 12px;
	font-family: "宋体";
}
.product-description .product-text span {
	//line-height: 170%;
	letter-spacing: 1px;
	font-size: 11.5px;
}
.product-description .product-item {
	//margin-top: 60px;
	width: 100%;
	margin-left: 30px;
}
.product-description .product-item img{
	float: left;
	width: 61px;
	height: 77px;
	margin-right: 30px;
}
.product-description .product-item img:hover {
    border: 2px solid red;
}
.product-phone {
	background-image: url(/assets/product/400.png);
	height: 27px;
	width: 338px;
	float: right;
	margin: 15px 90px 8px 0;
	//border: 1px solid;
}
.product-item ul {
    list-style: none;
}
//点击递交订单的下拉选项
.product-item {
    position: relative;
}
.drop-list-toggle{
	z-index: 222;
	display: none;
	position: absolute;
	left: 35%;
	top: 80px;
	width: 220px;
	background: #ffffff;
}
.drop-list-toggle li {
    text-align: left;
	margin-left: 30px;
	line-height: 28px;
}
.drop-list-toggle .btn {
	margin: 5px 0 0 30px;
}
.drop-list-toggle form {
	padding: 5px;
	border: 1px solid;
}
.drop-list-toggle span {
	margin: 2px 0 0 5px;
}
.drop-list-toggle .error {
	background-color: #fcf8e3;
	padding: 5px 0 5px 20px;
	color: red;
}
//产品介绍
.product-info {
	clear: both;
	font-size: 12px;
	font-family: "宋体";
}
.product-info table, .product-info table tr td {
	//border: 1px solid;
}
.product-info .info-title {
	height: 27px;
	width: 918px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#628970), to(#00452a));
	background-image: -moz-linear-gradient(top, #628970, #00452a);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#628970');
	background-image: -ms-linear-gradient(top, #628970, #00452a);
}
.product-info .info-title #myTab li a{
	color: white;
	background: none;
	border-style: none;
	float: left;
	font-size: 14px;
	padding: 3px 5px;
}
.product-info #myTab li span {
	float: left;
	color: white;
	margin: 5px 2px 0 0;
	width: 2px;
	height: 16px;
	border-right: 1px solid;
}
.product-info .info-title #myTab li.active a {
	color: #ee8301;
	background: none;
	text-decoration: underline;
}
//2014-2-22产品介绍中鼠标经过颜色
.product-info .info-title #myTab li a:hover {
	color: #ee8301;
}
//产品展示的index界面css
.product-index {
	float: right;
	width: 918px;
	margin: 5px 0 0 10px;
}
.product-index .span3 .thumbnail{
	//height: 300px;
}
.product-image {
	float: left;
	width: 185px;
	border: 1px solid #b2b2b2;
	padding: 3px;
}
.thumbnail h6 {
	margin: 3px;
}
.product-image img {
	width: 185px;
	//height: 170px;
}
.product-outline {
	clear: both;
	margin: 0;
	height: 45px;
	overflow: hidden;
	padding: 0;
	line-height: 15px;
	font-size: 11.5px;
	font-family: "宋体";
	font-weight: normal;

}
.product-outline p {
	margin: 0;
	padding: 0; 
	line-height: 15px;
	font-size: 11.5px;
}
.tab-pane .thumbnail, .product-index .thumbnail, .product-process .thumbnail{
	width: 185px;
	float: left;
	height: 300px;
	border-style: none;
}
.product-image h6 {
	margin: 4px 0;
	height: auto;
}
.tab-pane .thumbnails > li, .product-index .thumbnails > li {
	margin-left: 16px;
	margin-bottom: 5px;
}
.product-process .thumbnails > li {
	margin-left: 10px;
	margin-bottom: 5px;
}
.tab-pane .thumbnails .span3, .product-index .thumbnails .span3 {
	width: 210px;
	float: left;
}
.tab-pane .thumbnails, {
	margin-left: -10px;
	margin-top: 5px;
	}
	.link-product2 a{
		font-size: 11.5px;
		color: #b90000;
	}
	.link-product2 {
		margin: 0 0 2px;
		position: relative;
	}
	.btnlink {
		position: absolute;
		top: -8px;
		right: 0;
	}
	.btnlink a {
		color: white;
		font-size: 14px;
	}
.footer-link a{
	color: #966a08;
}
.category-list a {
	color: #08c;
}
//.form表单中图片的大小
.resize-image .fields {
	width: 120px;
	float: left;
	margin-bottom: 10px;
}
.resize-image p {
	clear: both;
}
.image-position-find{
	position: relative;
	height: auto;
}
.image-position {
	position: absolute;
	left: 120px;
	top: 0;
	}
.image-position ul {
	list-style: none;
}
.resize-image img {
	float: left;
	margin-right: 10px;
}
//表单中的位置
.form-form {
	width: 80%;
	float: left;
	margin-left: 5px;
}
.select-image span {
	margin-right: 8px;
}
.select-image span b {
	padding: 20px;
}
.position-form {
	width: 300px;
	float: left;
	border: 1px solid #aadc6e;
	margin: 10px;
	padding: 10px;
}
.form-form .action {
	margin-top: 20px;
}
.form-form .action input {
	margin-right: 20px;
}
.product-cart {
	margin-top: 5px;
	width: 81%;
	float: left;
}
.edit_line_item, .edit_product {
	position: relative;
}
.edit_line_item label {
	background: #f8b9b7;
	position: absolute;
	top: 0px;
	right: 75px;
	padding: 4px 10px;
}
.edit_line_item input.error {
	border: 1px solid #f8b9b7;
	background: #f8b9b7;
}
//flash-notice 提示警告页面
.flash-notice {
	position: absolute;
	width: auto;
	z-index: 999999;
}
//登陆界面
.sign-in {
	width: 320px;
}
.sign-interface h2 {
	font-size: 18px;
	margin:0 0 30px 0;
	background:#989898;
	text-align: center;
}
.sign-input, .sign-input1 {
	clear: both;
	margin-top: 10px;
}
.sign-input label,
.sign-input1 label,
{
	float: left;
	margin-left: 10px;
}
.sign-input input, .sign-input1 input {
	float: right;
	margin-right: 20px;
}
.sign-interface {
	width: 320px;
	border: 1px solid #989898;
	margin:  20px;
	float: right;
}
.sign-input1 {
	float: right;
	margin-right: 40px;
}
.sign-in .button-btn {
	clear: both;
	margin-left: 120px;
}
//购物车首页下拉菜单
.cart_items-drop, .cart_items-drop2{
	z-index: 99999;
	right: 0;
	position: absolute;
	background: white;
	border: 1px solid;
	display: none;	
}
.cart_items-drop .table {
	margin-bottom: 0;
}
.cart_items-drop td {
	padding: 5px;
}
.cart_items-drop .cart_link {
	float: right;
	margin: 0 12px 5px 0;
}
.cart_link .btn {
}
.cart_items-drop2 {
	width: 250px;
	}
	.cart_items-drop2 p {
		padding: 10px;
	}
//购物车中可变编辑的数字的css代码
.product-cart .table input {
  width: 40px;
}
.product-cart .btn {
	float: right;
	margin-right: 40px;
}
.product-cart .btn-mini {
	float: none;
	margin-top: -10px;
	padding: 3px;
}

//单个产品下拉菜单中css

// 订单页面的表单
.product-index2{
	float: left;
}
.order-form {
	margin:15px auto;
	height: auto;
	width: 600px;
}
.order-form1, .order-form .field {
   clear: both;
   }   
 .order-form1 input{
	 float: right;
	 margin-right: 160px;
 }
 .order-form1 .action input {
	 float: none;
 }
 .order-form1 .field label {
	 margin-right: 10px;
 }
.order-form1 .field label {
	float: left;
	margin-left: 140px;
}
.ordernumber {
	margin-top: 10px;
}
.ordernumber label {
	float: left;
	margin: 3px 15px 0 140px;
}
.content-text {
	margin-left: 140px;
}
.content-text textarea {
	min-width: 380px;
}
.number-order {
	margin-left: 30px;
	border-bottom: 1px solid #999;
}

.number-order input {
	width: 40px;
}
.number-order tr {
	max-height: 30px;
}
.number-order td {
	padding: 2px 0 0 3px;
}
.number-order .fields {
	height: 30px;
}
.order-form .action {
	float: right;
	margin-right: 70px;
}
.order-form .action a {
	margin-left: 30px;
}
.order-form .field-address {
	float: right;
	}
	.order-form .field-address select {
		margin-left: 7px;
	}
	.order-form select {
		margin-left: 10px;
	}
.order-form .field-address select {
	width: 120px;
}
 //警告栏弹出栏
 .alert {
	 margin: 0;
 }
 .alert p {
	 text-align: center;
	 margin: 0;
	 padding: 0;
	 font-size: 16px;
 }
 //分类中的css样式
 
 //关于我们，联系我们， 服务中心的表单编辑页面的按钮的位置
 .about-action {
	 margin: 10px 0 0 20px;
 }
 .about-action .btn {
	 margin-right: 30px;
 }
 //面包屑
 .product-index .about-title {
	 border: 1px solid #b2b2b2;
	 height: 28px;
	 margin-bottom: 5px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#b2b2b2));
	background-image: -moz-linear-gradient(top, #eaeaea, #b2b2b2);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');
	background-image: -ms-linear-gradient(top, #eaeaea, #b2b2b2);
}
.about-image {
	//height: 230px;
	margin-bottom: 12px;
}
hr {
	border: 1px solid #000;
	margin: 3px;
}
//.about-image img {
//	width: 784px;
//	height: 231px;
//}
 .about-title h4 {
	 float: left;
	 margin: 5px 0 0 5px;
 }
 .breadcrumb {
	 float: right;
	 margin: 0 10px 0 0;
	 padding: 3px;
	 background: none;
 }
 .about-content {
	 clear: both;
	 margin:10px;
 }
 //
a {
	color: black;
}
//诚邀合作的表单
.affiliate-form {
	width: 780px;
	height: auto;
	//border: 1px solid;
}
.affiliate-form .field label{
	float: left;
	width: 88px;
}

.affiliate-form .field input {
	float: right;
	margin-right: 20px;
}
.affiliate-form .field {
	//border: 1px solid;
	width: 45%;
	margin-left: 20px;
	float: left;
}
.field-address .field {
	width: 93%;
}
.field-address input {
	width: 80%;
	float: left;
}
.field-address .field-apply label {
	width: 88px;
	margin-top: 30px;
}
.field-address textarea {
	float: right;
	width: 80%;
	margin-right: 20px;
	height: 120px;
}
.affiliate-form h5 {
	clear:both;
}
.affiliate-form .radio-field {
	margin-top: 5px;
	width: 140px;
	}
.affiliate-form .radio-field label {
width: 30px;
}
.affiliate-form .radio-field input {
	float: left;
}
.affiliate-form .intention-field {
	width:400px;
	float: left;
}
.affiliate-form .intention-field input {
	float: left;
}
.affiliate-form .intention-field label {
	width: 60px;
}
.affiliate-form .action {
	float: right;
	margin: 5px 80px 20px 0;
}
.affiliate-form .action .btn-primary{
	margin-right: 15px;
}
//留言板
.message-form {
	width: 320px;
	margin-left: 50px;
}
.message-form .field {
	clear: both;
}
.message-form .field textarea {
	clear: both;
	float: right;
	width: 300px;
	height: 120px;
}
.message-form .field input {
	float: right;
}
.message-form .field label {
	float: left;
	margin-left: 10px;
}
.message-form .action {
	float: right;
	margin: 5px 40px 10px 0;
}
.message-form .action .btn-primary {
	margin-right: 15px;
}
//开始在这里
//控制台管理的面板的css代码
.dashboard-form .dashboard-left {
	//width: 120px;
	//float: left;
	//height: 600px;
	//新样式开始在这里
	padding: 5px;
}
.dashboard-left ul {
	//float: none;
	padding: 5px;
}
.dashboard-left ul li {
	//float: none;
	padding: 5px;
}
.dashboard-form #myTabContent {
	margin-top: 10px;
	float: left;
	width: 100%;
}
//结束在这里
//边栏的位置
.edge-position {
	width: 206px;
	float: left;
}
.edge-position .nav-list .nav-bananer {
	background: none;
	height: 275px;
}
.hr-postion {
	clear: both;
	height: 10px;
}
.edge-from {
	clear: both;
	margin-bottom: 5px;
}
.edge-from ul {
	list-style: none;
	margin: 0;
	background: #858584;
}
.edge-from ul li {
	border-bottom: 1px solid #fff;
	padding: 5px 0;
	text-indent: 50px;
}
.edge-from ul li a {
	color: white;
}
//在线报修的表单表格
.repair-form {
}
.repair-form .table td label{
	padding:5px 0 0 15px;

}
.repair-form .table {
	width: 780px;
	border-collapse: collapse;
	border-spacing: 0;
}
.repair-form .table input {
	width: 225px;
	margin: 0;
	padding: 0;
	height: 30px;
	}
.repair-form .table td {
	border: 1px solid;
	padding: 0;
	margin: 0;
	width: 225px;
}

.repair-form .table textarea{
	height: 120px;
	width: 619px;
	padding: 0;
	margin: 0;
}
.repair-form .about-action {
	float: right;
	margin: 0 50px 20px 0;
}
//设定排序
.tuijian1 #error_explanation{
	position: absolute;
	width: 220px;
	left: 128px;
}
.tuijian .btn {
	margin-bottom: 10px;
}
#product_paixu {
	width: 45px;
}
.filter-table {
	margin: 10px;
}
.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
