<% provide(:title, "采购指南") %>
<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @zixuns.each do |zixun| %>
			<tr>
				<td><%= link_to zixun.title, zixun_path(zixun) %></td>
				</tr>
			<% end %>
		</table>
		<%= will_paginate @zixuns %>
	</div>

