<div class= "product-index">
	<%= form_for [:admin, @category_image] do |f| %>
		<%= collection_select(:category_image, :category_id, Category.all, :id, :name) %>
		<%= render 'home/error_message', object: f.object %>
		<%= render partial: "product_images/new", locals: {f: f, object: @category_image} %>
	<% end %>
</div>
