<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @servers.each do |server| %>
			<tr>
				<td><%= link_to server.title, server_path(server) %></td>
				<td><%= server.updated_at.strftime("%Y-%m-%d:%H:%M:%S") %></td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @servers %>
</div>
