<%= render 'home/nav_list' %>
<div class="product-index">
		<div class="video show-video">
	<object class id="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="600" height="540" z-index="0">
		<param name="movie" value="/assets/video/flvplayer.swf">
		<param name="quality" value="high">
		<param name="allowFullScreen" value="true">
		<param name="FlashVars" value="vcastr_file=<%= @video.video_url %>">
		<embed src="/assets/video/flvplayer.swf" allowfullscreen="true" flashvars="vcastr_file=<%= @video.video_url %>" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="600" height="540"></embed>
	</object>
	<%= link_to "返回", videos_path, class: "btn btn-primary" %>
</div>
</div>
