<div class="product-description">
	<div class="product-title">
		<span>踏板式电动搬运车</span>
	</div>
	<div class="product-text">
		<span>载荷中心距: 600mm</span>
		<br/>
		<span>起升高度:125mm</span>
		<br />
		<span>
			操作手柄的工作高度（最小/最大):1150/1470mm
		</span>
		<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			操作手柄的工作高度（最小/最大):1150/1470mm
		</span>
		<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>
<br />
		<span>
			 剪叉下降后高度: 85mm
		 </span>

	 </div>
	 <div class="product-item">
         <ul>
             <li><a href="#"><img src="/assets/product/zixun.png"/></a></li>
             <li> <a href="#"><img src="/assets/product/print.png"/></a></li>
			 <li class="drop-list"> <a> <img src="/assets/product/commit.png"/></a></li>
         <ul class="drop-list-toggle">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <li><a href="#"><img src="/assets/product/4.png"/></a></li>
     </ul>
	 </div>
</div>
<script>
    $(document).ready(function(){
        $('.drop-list').click(function(){
            $('.drop-list-toggle').toggle();
        });
    });
</script>
