<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			<h4>表单有<%= object.errors.count%>个错误！</h4>
			<ul>
				<% object.errors.full_messages.each do |msg| %>
					<li><%= msg %> </li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
