<div class="index-about">
	<ul class="thumbnails">
		<li class="span4">
		<div class="thumbnail">
			<div class="about-title">
				<span>关于我们 >></span>
			</div>
			<img src="/assets/photo/4.jpg"/>
		</div>
		</li>
		<li class="span4">
		<div class="thumbnail">
<div class="about-title">
				<span>新闻中心 >></span>
			</div>

			<img src="/assets/photo/6.jpg"/>
		</div>
		</li>
	<li class="span4">
		<div class="thumbnail">
			<div class="about-title">
				<span>免费索取工业设备  >></span>
			</div>
			<img src="/assets/photo/5.jpg"/>
		</div>
		</li>
	</ul>
</div>
