<div class="nav-list">
	<div class="nav-bananer">
		<div class="submenu">
			<div id="js-menu" class="submenulist">
				<ul>
					<% Category.all.each do |cate| %>
						<li>
						<h3><%= link_to category_path(cate)  do %>
								<%= image_tag(cate.image_url(:micro)) if cate.image? %>
								<%= cate.name%>
							<% end %>
							<span>></span>
							</h3>
						<div class="listbox hide">
							<dl class="procate">
								<% cate.tags.each do |tag| %>
									<dd><%= link_to tag.name, products_path(t:tag), target: "_blank"%>	</dd>
								<% end %>
							</dl>
						</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>

