<div class="product-info">
	<div class="info-title">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
		<li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li class=""><a href="#dropdown1" data-toggle="tab">@fat</a></li>
			<li class=""><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
		</ul>
		</li>
	</ul>
</div>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="home">
			<ul class="thumbnails">
				<li class="span3">
				<div class="thumbnail">
					<img src="/assets/photo/1.jpg"/>
					<h3>Thumnail</h3>
					<p>thumnaoil</p>

				</div>
				</li>
				<li class="span3">
				<div class="thumbnail">
					<img src="/assets/photo/2.jpg"/>
					<h3>Thumnail</h3>
					<p>thumnaoil</p>

				</div>
				</li>
				<li class="span3">
				<div class="thumbnail">
					<img src="/assets/photo/3.jpg"/>
					<h3>Thumnail</h3>
					<p>thumnaoil</p>

				</div>
				</li>
				
			</ul>
		</div>
		<div class="tab-pane fade" id="profile">
	<div class="video">
	<object class id="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="600" height="540">
		<param name="movie" value="/assets/video/flvplayer.swf">
		<param name="quality" value="high">
		<param name="allowFullScreen" value="true">
		<param name="FlashVars" value="vcastr_file=/assets/video/1234.flv">
		<embed src="/assets/video/flvplayer.swf" allowfullscreen="true" flashvars="vcastr_file=/assets/video/1234.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="600" height="540"></embed>
	</object>
</div>

		
		</div>
		<div class="tab-pane fade" id="dropdown1">
			<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
		</div>
		<div class="tab-pane fade " id="dropdown2">
			<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
	</div>

</div>

