	<div class="submenu" style="clear: both">

		<h2>产品分类</h2>

		<div id="js-menu" class="submenulist">

			<ul>

				<li>

				<h3><a href="#">高空作业</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a>

						<ul>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>



						</ul>



						</dd>

						<dd><a href="#">商品类别八个字符</a>

						<ul>
							<li>123</li>
							<li>234</li>
							<li>ewqe</li>
							<li>123</li>
							<li>234</li>
						</ul>
						</dd>
						<dd><a href="#">商品类别八个字符</a>
						<ul>
							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

						</ul>

						</dd>

						<dd><a href="#">商品类别八个字符</a>

						<ul>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

						</ul>

						</dd>

						<dd><a href="#">二级分类</a>

						<ul>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

						</ul>

						</dd>

						<dd><a href="#">二级分类</a>

						<ul>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

						</ul>

						</dd>

						<dd><a href="#">二级分类</a>

						<ul>

							<li>123</li>

							<li>234</li>

							<li>ewqe</li>

							<li>123</li>

							<li>234</li>

						</ul>

						</dd>

					</dl>



				</div>

				</li>

				<li>

				<h3><a href="#">搬运设备</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

					</dl>

					
				</div>

				</li>

				<li>

				<h3><a href="#">清洁设备</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

					</dl>

				
				</div>

				</li>

				<li>

				<h3><a href="#">电动叉车</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

					</dl>

				
				</div>

				</li>

				<li>

				<h3><a href="#">仓储设备</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

					</dl>

				
				</div>

				</li>

				<li>

				<h3><a href="#">起重吊运</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

					</dl>

					
				</div>

				</li>

				<li>

				<h3><a href="#">包装设备</a></h3>

				<div class="listbox hide">

					<dl class="procate">

						<dt>商品分类</dt>

						<dd><a href="#">二级分类</a>



						</dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">商品类别八个字符</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

						<dd><a href="#">二级分类</a></dd>

					</dl>

								</div>

				</li>

			</ul>

		</div>
				</div>

				<script type="text/javascript">

					//左侧导航

				function subindexMenu(){

					$("#js-menu").find("li").hover(function(){

							$(this).css("z-index","9999");

							$(this).find("h3 a").addClass("on");

							$(this).find(".listbox").show();

							},function(){

							$(this).removeAttr("style");

							$(this).find("h3 a").removeClass("on");

							$(this).find(".listbox").hide();

							});

				}

$(function(){

		subindexMenu();

		});

</script>
