<%= stylesheet_link_tag "dashboard" %>
<nav id="primary">
<ul>
	<li >
	<a href="/dashboard.html">
		<span class="glyph dashboard"></span>
		控制面板 
	</a>
	</li>
	<li class="active">
	<a href="/s/product.html">
		<span class="glyph shuffle"></span>
		产品管理 
	</a>
	</li>
	<li >
	<a href="/s/members.html">
		<span class="glyph pencil"></span>
		会员管理
	</a>
	</li>
	<li >
	<a href="#">
		<span class="glyph listicon"></span>
		内容管理
	</a>
	</li>
	<li >
	<a href="#">
		<span class="glyph chart"></span>
		营销管理
	</a>
	</li>
	<li >
	<a href="#">
		<span class="glyph chart"></span>
		广告管理
	</a>
	</li>
	<li class="bottom">
	<a href="#">
		<span class="glyph quit"></span>
		注销用户
	</a>
	</li>
</ul>
</nav>

<!-- Secondary navigation -->
<nav id="secondary">
<ul>
	<li class="active"><a href="#">产品列表</a></li>
	<li ><a href="#">产品图片</a></li>
</ul>

<div id="notifications">
	<ul>
	</ul>
</div>
</nav>

<section id="maincontainer">
<div id="main" class="container_12">

	<div class="box">
		<div class="box-header">
			<h1>产品列表</h1>
		</div>

		<table class="datatable">
			<thead>
				<tr>
					<th>ID</th>
					<th>产品名称</th>
					<th>产品编号</th>
					<th>描述</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>343</td>
					<td>产品1</td>
					<td>EIF234524</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>234</td>
					<td>产品400</td>
					<td>EIF345346</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>665</td>
					<td>产品5125</td>
					<td>EIF234544</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>212</td>
					<td>产品923</td>
					<td>EIF435553</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>123</td>
					<td>产品35</td>
					<td>EIF533535</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>125</td>
					<td>产品14</td>
					<td>EIF161661</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>126</td>
					<td>产品234</td>
					<td>EIF235345</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>127</td>
					<td>产品89</td>
					<td>EIF890890</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>186</td>
					<td>产品5</td>
					<td>EIF617061</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>625</td>
					<td>产品345</td>
					<td>EIF345786</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>876</td>
					<td>产品2354</td>
					<td>EIF23453354</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>745</td>
					<td>产品3652</td>
					<td>EIF21353456</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>287</td>
					<td>产品33</td>
					<td>EIF23534634</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>403</td>
					<td>产品3030</td>
					<td>EIF3534534</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
				<tr>
					<td>230</td>
					<td>产品45</td>
					<td>EIF2355444</td>
					<td>产品描述内容</td>
					<td>
						<a href="#" class="button plain">编辑</a>
						<a href="#" class="button plain">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</section>
