<div class="flexslider carousel">
	<ul class="slides">
		<% Bananer.all.each do |bananer| %>
			<li><%= link_to bananer.button do %>
			<%= image_tag(bananer.image_url) if bananer.image?%>
			</li>
	<% end %>
	</ul>
</div>

