<%= render 'home/nav_list' %>
<div class="product-index">
	<%= form_for @center_image do |f| %>
		<%= render 'home/error_message', object: f.object %>
		<%= render partial: 'product_images/new', locals: {f: f, object: @center_image} %>
	<% end %>
</div>
