<div class="flexslider carousel">
	<ul class="slides">
		<% ProductImage.all.each do |bananer| %>
			<li><%= link_to bananer.url do %>
				<%= image_tag(bananer.image_url) if bananer.image? %>
			<% end %>
			</li>
		<% end %>
	</ul>
</div>
		
