<% provide(:title, @about.title) %>
<%= render 'home/nav_list' %>
<div class="product-index">
	<div class="about-title">
		<h4><%= @about.title %></h4>
		<div class="breadcrumb">
	<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
</div>
	</div>
	<div class="about-content">
		<%= sanitize @about.content %>
	</div>
</div>
