<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @ships.each do |ship| %>
			<tr>
				<td><%= link_to ship.title, ship_path(ship) %></td>
			</tr>
					<% end %>
	</table>
	<%= will_paginate @ships %>
</div>
			
