<% provide(:title, "项目案例") %>
<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @items.each do |item| %>
			<tr>
				<td><%= link_to item.title, item_path(item) %></td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @items %>
</div>
