	<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
				<% ContactImage.limit(4).each do |bananer| %>
					<div class="item">
						<%= link_to image_tag(bananer.image_url), bananer.url %>
					</div>	
				<% end %>
			</div>
		</div>

