.submenulist li {
	line-height: 0;
}
.submenulist ul {
	list-style: none;
}
.procate li {
	line-height: 34px;
}
.center-index2 {
	float: right;
	height: 64px;
	width: 320px;
}
.phone {
	width: 308px;
}
.nav-bananer {
	position: relative;
}
.nav-bananer .submenu {
/*	position: absolute; */
	z-index: 2;
}
.cart-img {
	float: right;
	margin-top: 0;
	margin-left: 5px;
}
.pending {
	margin-top: -35px;
}
.node-text {
	width: 262px;
}
.sixicon {
	left: 0;
	top: 0;
}
.product-description .product-title span {
	line-height: 30px;
}
.nav-list .navbar-form .btn {
	margin-top: 0;
}
.index-top li a {
	/*height: 0;*/
}
.navbar-inner {
	background: #004714;
}
