<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<% @category.category_images.limit(4).each do |cate| %>
					<div class="item">
						<%= link_to image_tag(cate.image_url), cate.url %>
					</div>	
				<% end %>
			</div>
		</div>

