<% provide(:title, "产品分类") %>
<%= render 'home/nav_list' %>
<div class="product-index">
<div class="category">
	<table class="table">
		<% @categories.each do |cate| %>
			<tr>
				<td><%= cate.name %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>
