<% provide(:title, @category.name) %>
<%= render 'home/nav_list' %>
	<div class="product-index">
		<ul class="thumbnails">
			<% @products.each do |product| %>
				<%= render partial: 'products/index', locals:{product: product} %>
<% end %>
		</ul>

	<%= will_paginate @products %>
	</div>

