<div class="product-index">
	<%= form_for [:admin, @tag_image] do |f| %>
		<%= collection_select(:tag_image, :tag_id, Tag.all, :id, :name)%>
		<%= render 'home/error_message', object: f.object %>
		<%= render partial: "product_images/new", locals: {f: f, object: @tag_image} %>
	<% end %>
</div>	
