<div class="product-index">
	<%= form_for [:admin,@guide] do |f| %>
		<%= f.label "选择分类"%>
		<%= collection_select(:guide, :list_id, List.all, :id,:title) %>
		<%= render partial: 'abouts/form', locals: {f: f} %>
		<% end %>
</div>

