<% provide(:title, "采购指南") %>
<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @guides.each do |guide| %>
			<tr>
				<td><%= link_to guide.title, guide_path(guide) %></td>
				</tr>
			<% end %>
		</table>
	</div>

