<div class="demand">
	<table class="table">
		<tr>
			<td class="demand1"></td>
			<td class="demand-text">拨打免费服务热线: <span>4008-373-288转1</span>,有客户代表为你服务!</td>
		</tr>
		<tr>
			<td class="demand2"></td>
			<td class="demand-text">与力形客户服务代表<a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxNjE4Ml8xMTk4NDJfNDAwODM3MzI4OF8yXw"><span>在线沟通</span></a></td>
		</tr>
	<tr>
			<td class="demand3"></td>
			<td class="demand-text">在线正确填写<a href="#"><span>产品需求表单</span></a></td>
		</tr>

	</table>
</div>
