	<li class="span3">
			<div class="thumbnail">
				<%= link_to image_tag(product.photos.first.image_url(:narmail)), product %>
				<h5><%= product.title %></h5>
				<span><% product.productcolors.each do |pc| %>
						<%= pc.color %>
					<% end %>
					</span>
				<p><%= link_to "delete", product, confirm: "Are you sure?", method: :delete %>
			</div>
			</li>

