<div class="product-info">
	<div class="info-title">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">技术参数</a><span></span></li>
		<li class=""><a href="#profile" data-toggle="tab">更多细节</a><span></span></li>
		<!--<li class=""><a href="#video" data-toggle="tab">视频展示</a></li> -->
		</ul>
</div>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="home">
			<%= raw @product.techparams %>
				</div>
	<div class="tab-pane fade" id="profile">
		<%= raw @product.detail %>
			</div>
		<div class="tab-pane fade" id="video">
	<div class="video">
	</div>

		
		</div>
	</div>
</div>

