<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<% Tag.limit(50).each do |tag| %>
					<% if tag.id == params[:t].to_i %>
				<% tag.tag_images.limit(4).each_with_index do |tag,index| %>
					<li data-target="#myCarousel" data-slide-to='<%= index %>'></li>
				<% end %>
			<% end %>
		<% end %>
			</ol>
			<div class="carousel-inner">
				<% Tag.limit(50).each do |tag| %>
					<% if tag.id == params[:t].to_i %>
				<% tag.tag_images.limit(4).each do |tag| %>
					<div class="item">
						<%= link_to image_tag(tag.image_url), tag.url %>
					</div>	
				<% end %>
			<% end %>
		<% end %>
			</div>
		</div>

