<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% @products.limit(1).each do |product| %>
      <% product.tag.tag_images.each do |tag| %>
        <div class="item">
          <%= link_to image_tag(tag.image_url), tag.url %>
        </div>	
      <% end %>
    <% end %>
  </div>
</div>

