<% if params[:t] %>
				<div class="view_font">
					<span>更多分类产品</span>
				</div>
        <% @products.limit(1).each do |product| %>
				<ul>
					<% product.category.tags.each do |tag| %>
						<li>
						<%= image_tag(tag.image_url(:micro)) if tag.image? %>
						<%= link_to tag.name, products_path(t:tag) %>
						</li>
					<% end %>
				</ul>
			<% end %>
		<%end %>

