<div class="mobile-product tag-products">
<div id="mobile_products">
<%= render partial: 'mobile_index' %>
</div>
<div class="show_more">
<% if @products.total_pages > 1 %>
	<% unless params[:t] %>
		<%= link_to "加载更多...", products_path(page: @products.current_page + 1), remote: true, id: "show_more" %>
	<% else %>
		<%= link_to "加载更多...", products_path(t: params[:t], page: @products.current_page + 1), remote: true, id: "show_more" %>
	<% end %>
<% end %>
</div>
</div>
