<div class="header">
			<div>
			<div class="index-logo">
				<div class="center-index">
					<div class="ps-index">
						<img src="/assets/rails.png" />
						<div class="logo-font">
							<span>工业仓储设备专家</span>
							<br />
							<small>便捷订购</small>
							<small>一站式服务</small>
							<small>致力于服务企业客户</small>
						</div>
					</div>
				</div>

				<div class="center-index center-index2">
					<div class="ps-index">
						<img src="/assets/rails.png" />
						<div class="logo-font">
							<span>工业仓储设备专家</span>
							<br />
							<small>便捷订购</small>
							<small>一站式服务</small>
							<small>致力于服务企业客户</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


