<!-- if lt IE 8>
<div id="kie-bar" class="kie-bar">
你现在使用的浏览器版本过低，会导致布局混乱，请立即<a href="http://microsoft.com/china/windows/IE/upgrade/index.aspx" class="kie-setup-IE8" seed="kie-setup-IE8" target="_blank" title="免费升级至IE8浏览器">免费升级</a>
</div>
<style>
	.kie-bar {
		height: 24px;
		line-height: 1.8;
		font-weight: normal;
		text-align: center;
		border-bottom: 1px solid #fce4b5;
		background-color: #ffff9b;
		color: #e27839;
		position: relative;
		font-size: 14px;
		text-shadow: 0px 0px 1px #efefef;
		padding: 5px 0;
	}
	.kie-bar a {
		color: #08c;
		text-decoration: none;
	}
</style>
<![endif] -->
<!--[if lt IE 9]>
	<%= javascript_include_tag "ie/bootstrap-ie.js" %>
<%= javascript_include_tag "htmlshiv" %>
<![endif]-->

<!--[if lte IE 6]>
	<![endif]-->
		<script type="text/javascript">
		(function ($) {
		 $(document).ready(function() {
			 if ($.isFunction($.bootstrapIE6)) $.bootstrapIE6($(document));
			 });
		 })(jQuery);

</script>

